<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Keywords" content="宮崎県,宮崎市,宮崎,動物園,遊園地,流れるプール,ひなた,ふれあい,ファミリー" />
    <meta name="description" content="Hinata Zooは宮崎市にある動物園。日本でも珍しいフラミンゴショーを見ることができます。遊園地も併設しており、流れるプールや屋外プールも楽しめます。" />
    <title>Hinata Zoo</title>
    <!-- css -->
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/common.css" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500&family=Noto+Sans+Tamil:wght@100;200;300;400;500&family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <!-- js -->
    <script type="module" src="/assets/js/main.js"></script>
  </head>

  <body>
    <!-- ヘッダー -->
    <%- include('../partials/_header.ejs') %>

    <main>
      <!-- FV -->
      <div class="fv">
        <!-- PC用動画 -->
        <video autoplay muted loop playsinline class="fv__movie pc-only">
          <source src="/assets/images/fv-movie-pc.mp4" type="video/mp4" />
          お使いのブラウザは動画に対応していません。
        </video>
        <!-- SP用動画 -->
        <video autoplay muted loop playsinline class="fv__movie sp-only">
          <source src="/assets/images/fv-movie-sp.mp4" type="video/mp4" />
          お使いのブラウザは動画に対応していません。
        </video>
      </div>
      <div class="top__information-bar"><%- include('../partials/information.ejs') %></div>

      <!-- 入園料金 -->
      <section class="admission-fees">
        <div class="l-inner">
          <h2 class="c-section-title">
            <span class="c-section-title__en">Admission Fees</span>
            <span class="c-section-title__ja">入園料金</span>
          </h2>
          <dl class="admission-fees__list">
            <div class="admission-fees__item">
              <dt class="admission-fees__item-label">大人（高校生以上）</dt>
              <dd class="admission-fees__item-fee">
                840
                <span class="small">円</span>
              </dd>
            </div>
            <div class="admission-fees__item">
              <dt class="admission-fees__item-label">中学生</dt>
              <dd class="admission-fees__item-fee">
                420
                <span class="small">円</span>
              </dd>
            </div>
            <div class="admission-fees__item">
              <dt class="admission-fees__item-label">小学生</dt>
              <dd class="admission-fees__item-fee">
                310
                <span class="small">円</span>
              </dd>
            </div>
            <div class="admission-fees__item">
              <dt class="admission-fees__item-label">未就学児</dt>
              <dd class="admission-fees__item-fee">無料</dd>
            </div>
          </dl>
          <div class="admission-fees__web-ticket-list-wrapper">
            <ul class="admission-fees__web-ticket-list">
              <li class="admission-fees___web-ticket-item">
                <a href="webticket.html" class="admission-fees__link">Webチケット</a>
              </li>
              <li class="admission-fees__web-ticket-item">
                <a href="admission.html" class="admission-fees__link">団体のお客様</a>
              </li>
            </ul>
          </div>
          <!-- /.list-wrapper -->
        </div>
        <!-- /.l-inner -->
      </section>
      <!-- /.admission-fees -->

      <!-- イベント -->
      <section class="events">
        <div class="l-inner">
          <h2 class="c-section-title">
            <span class="c-section-title__en">Event</span>
            <span class="c-section-title__ja">楽しいイベント盛りだくさん！</span>
          </h2>
          <ul class="events__list">
            <li class="events__item"><%- include('../partials/event-card', { image: './assets/images/event_elephant.jpg', title: 'ゾウのお散歩と記念撮影', time: '14時〜', place: 'アジアゾウ展示場→ゾウさん広場', description: 'アジアゾウと一緒にお散歩と記念撮影！aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', note1: '※会場に並んでいただいた順番での撮影になります。', note2: '※同行する飼育員の指示にしたがって下さい。' }) %></li>
            <li class="events__item"><%- include('../partials/event-card', { image: './assets/images/event_lion.jpg', title: 'ライオン観察', time: '15時〜', place: 'ライオン展示場', description: '百獣の王・ライオンを観察してみよう！強くてかっこいいだけじゃない意外な姿が見えてくるかも？', note1: '', note2: '' }) %></li>
            <li class="events__item"><%- include('../partials/event-card', { image: './assets/images/event_panda.jpg', title: 'パンダと記念撮影', time: '14時〜', place: 'パンダ広場', description: '世界中をとりこにしているパンダと記念撮影しませんか？', note1: '※会場に並んでいただいた順番での撮影になります。', note2: '※同行する飼育員の指示にしたがって下さい。' }) %></li>
          </ul>
          <a href="event.html" class="c-btn event__link">イベント一覧はこちら</a>
        </div>
        <!-- /.l-inner -->
      </section>

      <!-- コース -->
      <section class="course">
        <div class="l-inner">
          <h2 class="c-section-title">
            <span class="c-section-title__en">Course</span>
            <span class="c-section-title__ja">あなたにぴったりのコースをご紹介！</span>
          </h2>
          <ol class="course__steps">
            <li class="course__step">
              <h3 class="course__step-title">Step1：誰と楽しむ？</h3>
              <ul class="course__options">
                <li class="course__option">
                  <button class="course__button course__button--orange" data-step="1" data-value="family">ファミリー</button>
                </li>
                <li class="course__option">
                  <button class="course__button course__button--green" data-step="1" data-value="partner">パートナー</button>
                </li>
                <li class="course__option">
                  <button class="course__button course__button--blue" data-step="1" data-value="solo">ひとり</button>
                </li>
              </ul>
            </li>
            <li class="course__step">
              <h3 class="course__step-title">Step2：なにを楽しむ？</h3>
              <ul class="course__options">
                <li class="course__option">
                  <button class="course__button course__button--orange" data-step="2" data-value="animals">どうぶつ</button>
                </li>
                <li class="course__option">
                  <button class="course__button course__button--green" data-step="2" data-value="gourmet">グルメ</button>
                </li>
                <li class="course__option">
                  <button class="course__button course__button--blue" data-step="2" data-value="attraction">アトラクション</button>
                </li>
              </ul>
            </li>
            <li class="course__step">
              <h3 class="course__step-title">Step3：どんな日に楽しむ？</h3>
              <ul class="course__options">
                <li class="course__option">
                  <button class="course__button course__button--orange" data-step="3" data-value="casual">ふらっとお出かけ</button>
                </li>
                <li class="course__option">
                  <button class="course__button course__button--green" data-step="3" data-value="rainy">雨の日</button>
                </li>
                <li class="course__option">
                  <button class="course__button course__button--blue" data-step="3" data-value="special">大切な日</button>
                </li>
              </ul>
            </li>
          </ol>

          <!-- 結果表示エリア -->
          <div class="course__result">
            <h3>おすすめコースはこちら！</h3>
          </div>
        </div>
      </section>

      <section class="news">
        <div class="l-inner">
          <h2 class="c-section-title">
            <span class="c-section-title__en">News</span>
            <span class="c-section-title__ja">お知らせ</span>
          </h2>
          <div class="news__contents">
            <dl class="news__list">
              <div class="news__item">
                <a href="" class="news__item-link">
                  <dt class="news__item-date"><time datetime="2025-08-11">2025.08-11</time></dt>
                  <dd class="news__item-text">ライオンの赤ちゃん誕生！</dd>
                </a>
              </div>
              <div class="news__item">
                <a href="" class="news__item-link">
                  <dt class="news__item-date"><time datetime="2025-08-11">2025.08-11</time></dt>
                  <dd class="news__item-text">ライオンの赤ちゃん誕生！</dd>
                </a>
              </div>
              <div class="news__item">
                <a href="" class="news__item-link">
                  <dt class="news__item-date"><time datetime="2025-08-11">2025.08-11</time></dt>
                  <dd class="news__item-text">ライオンの赤ちゃん誕生！</dd>
                </a>
              </div>
              <div class="news__item">
                <a href="" class="news__item-link">
                  <dt class="news__item-date"><time datetime="2025-08-11">2025.08-11</time></dt>
                  <dd class="news__item-text">ライオンの赤ちゃん誕生！</dd>
                </a>
              </div>
              <div class="news__item">
                <a href="" class="news__item-link">
                  <dt class="news__item-date"><time datetime="2025-08-11">2025.08-11</time></dt>
                  <dd class="news__item-text">ライオンの赤ちゃん誕生！</dd>
                </a>
              </div>
            </dl>
          </div>
          <a href="event.html" class="c-btn event__link">お知らせ一覧はこちら</a>
        </div>
        <!-- /.l-inner -->
      </section>

      <!-- FAQ -->
      <section class="faq">
        <div class="l-inner">
          <h2 class="c-section-title">
            <span class="c-section-title__en">FAQ</span>
            <span class="c-section-title__ja">よくある質問</span>
          </h2>
          <div class="faq__contents">
            <ul class="faq__list">
              <li class="faq__item">
                <button class="faq__item-header">
                  <span class="question__initial">Q</span>
                  <p class="question__text">チケットは事前に購入できますか？</p>
                  <span class="arrow"></span>
                </button>
                <div class="faq__item-content">
                  <span class="answer-initial">A</span>
                  <p class="answer__text">はい、公式サイトからオンラインで購入可能です。当日窓口でも購入できますが、混雑時は入園までお時間をいただく場合があります。</p>
                </div>
              </li>
              <li class="faq__item">
                <button class="faq__item-header">
                  Q 園内で飲食はできますか？
                  <span class="arrow"></span>
                </button>
                <div class="faq__item-content">A. 園内にはレストランや軽食スタンド、お弁当を広げられるピクニックエリアがあります。動物への餌やりは禁止されていますのでご注意ください。</div>
              </li>
              <li class="faq__item">
                <button class="faq__item-header">
                  再入園はできますか？
                  <span class="arrow"></span>
                </button>
                <div class="faq__item-content">A. はい、当日中であれば再入園が可能です。出口ゲートでスタッフが再入園スタンプを押しますので、退園時にお申し付けください。</div>
              </li>
              <li class="faq__item">
                <button class="faq__item-header">
                  ペット同伴で入園できますか？
                  <span class="arrow"></span>
                </button>
                <div class="faq__item-content">
                  A. 申し訳ございませんが、動物たちの安全と健康のためペットの入園はお断りしています。介助犬・盲導犬はご同伴いただけます。
                  <span class="arrow"></span>
                </div>
              </li>
              <li class="faq__item">
                <button class="faq__item-header">
                  Q5. 雨の日でも楽しめますか？
                  <span class="arrow"></span>
                </button>
                <div class="faq__item-content">A. はい、一部屋内展示や屋根付き通路があり、雨天でもお楽しみいただけます。雨具の貸出はありませんので、傘やカッパをご持参ください。</div>
              </li>
            </ul>
            <!-- /.faq__list -->
          </div>
        </div>
        <!-- /.l-inner -->
      </section>

      <!-- アクセス -->
      <section class="access">
        <div class="l-inner">
          <h2 class="c-section-title">
            <span class="c-section-title__en">Access</span>
            <span class="c-section-title__ja">アクセス</span>
          </h2>
          <div class="section-contents flex">
            <!-- <iframe class="access-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.188952534567!2d131.47391521516198!3d31.982892881219033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3538bad132ff7be5%3A0x4a57e247d1a13528!2sMiyazaki%20City%20Phoenix%20Zoo!5e0!3m2!1sen!2sjp!4v1683858824910!5m2!1sen!2sjp" width="1160" height="800" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

            <ul class="access-text">
              <li>
                <div class="contents-text">
                  <h3 class="secondary-title access-car">
                    <i class="fa-solid fa-car"></i>
                    お車でお越しの方
                  </h3>
                  <p class="break-keep">
                    羽南自動車道・羽南インターチェンジより、ひなた有料道路を経由して、ひなた西インターチェンジまで約15分。
                    <br />
                    旭川方面からは、国道12号線を経由してひなた有料道路を利用し、ひなた西インターチェンジまで約2時間。
                    <br />
                    <small>※ひなた西インターチェンジを降りて約1分で、左手にHnata Zooの駐車場が見えてきます。</small>
                  </p>
                </div>
              </li>
              <li>
                <div class="contents-text">
                  <h3 class="secondary-title access-train">
                    <i class="fa-solid fa-train"></i>
                    JR
                  </h3>
                  <p class="break-keep">
                    ・最寄の駅から JR羽南本線「羽南動物公園駅」よりタクシーにて約10分
                    <br />
                    <small>※羽南動物公園駅には特急・快速列車は停車しません。</small>
                    <br />
                    ・JR羽南中央駅からJR羽南本線、各駅停車にて「羽南動物公園駅」まで約12分
                    <br />
                    タクシーで動物園まで15～20分
                  </p>
                </div>
              </li>
              <li>
                <div class="contents-text">
                  <h3 class="secondary-title access-bus">
                    <i class="fa-solid fa-bus"></i>
                    バス
                  </h3>
                  <p class="break-keep">
                    宮崎駅からHinata Zoo行きのバスが 運行しております。
                    <br />
                    <small>※時刻表等はホームページをご参照ください。</small>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- /.l-inner -->
      </section>
    </main>

    <!-- フッター -->
    <%- include('../partials/_footer.ejs') %>
  </body>
</html>
